@use '../abstract' as *;

$sidebar-bg: hsl(0, 0%, 10%);
$color: hsl(0, 0%, 98%);

.sidebar {
    background-color: $sidebar-bg;
    color: $color;
    padding: 2rem 0.75rem;
    overflow: hidden;
    height: 100%;
    width: 240px;
    flex-direction: column;
    gap: 4rem;
    @include BreakpointDown(768px) {
        width: auto;
    }

    &__header {
        align-items: center;
        gap: 8px;
        color: steelblue;
        
        @include BreakpointDown(768px) {
            justify-content: center;

        }

        span {
            @include HideOnMobile(768px)
        }
    }

    &__footer {
        margin-block-start: auto;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    svg {
        transition: scale 250ms ease-in, transform 250ms ease-in;
    }

    a {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 0.75rem;
        border-radius: 0.5rem;
        transition: background-color 350ms ease, color 350ms ease;

        .label {
            // use the breakpoint mixin instead
            @include HideOnMobile(768px)
        }

        &.active {
            background-color: hsla(0, 5%, 24%, 0.65);
            color: hsl(43, 78%, 56%);

            svg {
                scale: 1.2;
                transform: rotate(10deg);
            }
        }
        
        // add mixin for hover here
        &:hover {
            background-color: hsla(0, 5%, 24%, 0.85);
        }
    }
}