html {
  font-size: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img, svg, picture, source {
  display: block;
  max-width: 100%;
}

button {
  font: inherit;
  cursor: pointer;
  background: transparent;
  border: none;

  // in replace for outline fot keyboard navigation
  &:focus {
    box-shadow: 0 0 0 4px rgba(135, 138, 239, 0.5);
    transition-duration: 350ms;
    transition-timing-function: ease;
  }
}

input, select {
  font: inherit;
  border: none;
  background: transparent;
  cursor: pointer;
}

h1, h2, h3, h4 {
  line-height: 1.1;
}

body {
  line-height: 1.5;
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}