.overview {
    &__header {
        margin-block-end: 2rem;
    }

    &__metrics {
        grid-template-columns: repeat(4, 1fr);
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 1.5rem;
    }
}